<p>
  Username <input [(ngModel)] = "user.name" /> 
  * Last Name <input [(ngModel)] = "user.ln" />
  * Personal Email <input [(ngModel)] = "user.pEmail" />
</p>
<p>
	*First Name <input [(ngModel)] = "user.fn"/>
	Group Email <input [(ngModel)] = "user.gEmail"/>
</p>
<p>
	MI <input [(ngModel)] = "user.middle"/>
	Security Level <input [(ngModel)] = "user.security"/>
</p>
<p>
	Supervisor <input [(ngModel)] = "user.middle"/>
	Date Created <input placeholder = "AutoFill/No delete" [(ngModel)] = "user.middle"/>
</p>
<p>
	Division <input [(ngModel)] = "user.DIV"/>
	Manager <input [(ngModel)] = "user.manager"/>
</p>
<p>
	Office <input [(ngModel)] = "user.office"/>
	Job Title <input [(ngModel)] = "user.title"/>
</p>
<p>
	GP Employee ID <input [(ngModel)] = "user.GPid"/>
	*Direct Phone Number<input [(ngModel)] = "user.DirectNum"/>
</p>
<p>
	Notary ID Number <input [(ngModel)] = "user.Notid"/>
	*	Cell Phone Number <input [(ngModel)] = "user.CellNum"/>
</p>
<p>
	FAX Number <input [(ngModel)] = "user.fax"/>
	*	Home Phone Number <input [(ngModel)] = "user.HomeNum"/>
</p>
<p>
	<input [(ngModel)] = "blank"/>
	<input [(ngModel)] = "blank"/>
</p>
<p>
	Status <input [(ngModel)] = "user.status"/>
	Expire Date <input [(ngModel)] = "user.expire"/>
</p>
<p>
	Updated By <input [(ngModel)] = "user.updateBy"/>
	Update Date <input placeholder = "AutoFill/No delete" [(ngModel)] = "user.updateDate"/>
</p>