<p>
        Username <input [(ngModel)] = "username" />
        * Last Name <input [(ngModel)] = "lname" />
		* Personal Email <input [(ngModel)] = "email_personal" />
</p>

<p>
        * First Name <input [(ngModel)] = "fname" />
        Group Email <input [(ngModel)] = "email_group" />
</p>

<p>
        MI <input [(ngModel)] = "middle" />
        Security Level <input [(ngModel)] = "security" />
</p>

<p>
        Supervisor <input [(ngModel)] = "superV" />
        Date Created <input placeholder = "Auto Fill/No delete" [(ngModel)] = "date_create" />
</p>

<p>
        Division <input [(ngModel)] = "division" />
        Manager <input [(ngModel)] = "man" />
</p>

<p>
        Office <input [(ngModel)] = "office" />
        Job Title <input [(ngModel)] = "title" />
</p>

<p>
        GP Employee ID <input [(ngModel)] = "emp_ID" />
        * Direct Phone Number <input [(ngModel)] = "direct_number" />
</p>

<p>
        Notary ID Number <input [(ngModel)] = "not_ID" />
        *	Cell Phone Number<input [(ngModel)] = "cell_number" />
</p>

<p>
        FAX Number <input [(ngModel)] = "fax" />
        *	Home Phone Number <input [(ngModel)] = "home_number" />
</p>

<p>
        <input placeholder = " "/>
        <input placeholder = " "/>
</p>

<p>
        Status <input [(ngModel)] = "status" />
        Expire Date <input [(ngModel)] = "date_expire" />
</p>

<p>
        Updated By <input placeholder = "Auto Fill/No delete" [(ngModel)] = "username" />
        Update Date <input placeholder = "Auto Fill/ No delete" [(ngModel)] = "user.password" />
</p>
