<p>
    Username <input [(ngModel)]="employee.username" /> * Last Name <input [(ngModel)]="employee.lname" /> * Personal Email <input [(ngModel)]="employee.email_personal" />
</p>

<p>
    * First Name <input [(ngModel)]="employee.fname" /> Group Email <input [(ngModel)]="employee.email_group" />
</p>

<p>
    MI <input [(ngModel)]="employee.middle" /> Security Level <input [(ngModel)]="employee.security" />
</p>

<p>
    Supervisor <input [(ngModel)]="employee.superV" /> Date Created <input placeholder="Auto Fill/No delete" [(ngModel)]="employee.date_create" />
</p>

<p>
    Division <input [(ngModel)]="employee.division" /> Manager <input [(ngModel)]="employee.man" />
</p>

<p>
    Office <input [(ngModel)]="employee.office" /> Job Title <input [(ngModel)]="employee.title" />
</p>

<p>
    GP Employee ID <input [(ngModel)]="employee.emp_ID" /> * Direct Phone Number <input [(ngModel)]="employee.direct_number" />
</p>

<p>
    Notary ID Number <input [(ngModel)]="employee.not_ID" /> * Cell Phone Number<input [(ngModel)]="employee.cell_number" />
</p>

<p>
    FAX Number <input [(ngModel)]="employee.fax" /> * Home Phone Number <input [(ngModel)]="employee.home_number" />
</p>

<p>
    <input placeholder=" " />
    <input placeholder=" " />
</p>

<p>
    Status <input [(ngModel)]="employee.status" /> Expire Date <input [(ngModel)]="employee.date_expire" />
</p>

<p>
    Updated By <input placeholder="Auto Fill/No delete" [(ngModel)]="employee.username" /> Update Date <input placeholder="Auto Fill/ No delete" [(ngModel)]="user.password" />
</p>